<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="/css/loginstyle.css">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
  </nav>
  
  <div class="sidenav" >
    <a href="/profile/">Profile</a>
    <a href="/label/">Labels</a>
    <a href="/task/">Task</a>
    <a href="/profile/images/">MyImages</a>
    <a href="/changepassword/">Password</a>
    <a href="/auth/logout/">Logout</a>
  </div>

  
<form style="margin-left: 10cm;margin-top: 2cm" action="/task/create/" method="POST" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input required name="task" type="text" class="form-control" id="formGroupExampleInput" placeholder="Task">
  </div>
  <div class="form-group col-md-4">
      <label for="input-date">Input date&nbsp</label>
      <input required name="date" id="input-date" type="date">
      <span class="result"></span>
  </div>
  <div class="form-group col-md-4">
      <label for="inputState">Label&nbsp</label></br>
      <select required name="label" id="inputState" class="form-control">
          <%if(locals.result&&locals.result.labelarray){%> 
          <% locals.result.labelarray.forEach(function(x){ %>
              <option ><%=x%></option>
            <% }) %>
            <% } %>
      </select>
    </div>
  <button type="submit" class="btn btn-dark mb-2">Create</button>
</form>
<div style="margin-left: 5cm">
<table class="table" id="example">
  <thead style="background-color: #343a40;color:white">
    <tr >
      <th scope="col">No</th>
      <th scope="col">Task</th>
      <th scope="col">Label</th>
      <th scope="col">Date</th>
      <th scope="col">Finish Date</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% var i=0; %>
    <%if(locals.result&&locals.result.labelarray){%> 
    <% locals.result.taskarray.forEach(function(obj){ %>
     <tr>
       <th scope="row"><%= ++i%></th>
       <td><%=obj.task%></td>
       <td><%=obj.label%></td>
       <td><%=obj.date%></td>
       <td><%=obj.finishdate%></td>
       <%var flag=1%>
       <%
       if((locals.currentdate>obj.finishdate)&&(obj.status=="pending")){
         flag=0;
        }
        %>
       <%if(flag){%>
        <td><%=obj.status%></td>
        <%}else{%>
          <td style='background-color:red'><%=obj.status%></td>
          <%}%>
       <td><a class="btn btn-primary" onclick="getConfirmation('<%=obj.task%>','started','<%=obj.status%>')"  role="button">Start</a>&nbsp<a class="btn btn-success" onclick="getConfirmation('<%=obj.task%>','finished','<%=obj.status%>')"  role="button">Finish</a></td>
     </tr>
     <% }) %>
     <% } %>
      </tbody>
</table>
</div>
        
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  <script>
  
  $(function(){
    $("#example").dataTable();
  })
  
  function getConfirmation(str,status,oldstatus) {
                window.location.href = "/task/status/"+str+"/"+status+"/"+oldstatus;
            }
            
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
</body>
</html>